data_dir: "D:\\vector-0.51.0"
sources:
  eqp_simulator_logs:
    type: "file"
    include:
      - "D:\\Qle.Info.Equipment.Simulator\\logs\\**\\*.txt"
    multiline:
      start_pattern: "^\\[\\d{4}-\\d{2}-\\d{2}"
      condition_pattern: "^\\[\\d{4}-\\d{2}-\\d{2}"
      mode: "halt_before"
      timeout_ms: 60000
  FSCR61_logs:
    type: file
    include:
      - "C:\\Users\\venyo.wong\\Documents\\工作\\2025\\36. 10.28 水洗机\\logs\\*.txt"
    multiline:
      start_pattern: "^\\[\\d{4}-\\d{2}-\\d{2}"
      condition_pattern: "^\\[\\d{4}-\\d{2}-\\d{2}"
      mode: "halt_before"
      timeout_ms: 60000
transforms:
  parsed:
    inputs:
      - "eqp_simulator_logs"
    type: "remap"
    source: |
      .message = replace!(.message, "\r\n", "\n")
      .message = replace!(.message, r'\r+$', "")
      .name = "eqp_simulator"
      .log_type = "raw"
      .parse_log = true
      .log = .message
      .tags = []
  FSCR61_parsed:
    inputs:
      - "FSCR61_logs"
    type: "remap"
    source: |
      .message = replace!(.message, "\r\n", "\n")
      .message = replace!(.message, r'\r+$', "")
      .name = "eap"
      .log_type = "raw"
      .parse_log = true
      .log = .message
      .tags = [{"label": "eqp_id", "value": "FSCR61"}]
sinks:
  talog:
    inputs:
      - "parsed"
      - FSCR61_parsed
    type: "http"
    uri: "http://10.8.29.146:26382/index/logs2"
    encoding:
      codec: "json"